<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PE -->
      <package
            uri="packageURI"
            class="org.mar9000.pe.ecore.impl.EcorePackageImpl"
            genModel="ecore/PE.genmodel"/>
   </extension>

</plugin>
